*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    justify-content: center;
}

.profile-card{
    background-color: rgb(237, 250, 237);
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-content: center;
   outline: 3px solid rgb(8, 240, 8);
   margin-top: 20px;
   border-radius: 20px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(232, 245, 241);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    unicode-bidi: isolate;
}

.profile-picture{
    width: 150px;
    height: 250px;
    margin-top: 20px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
    outline: 2px solid rgb(15, 230, 66);
}
div{
    display: block;
    unicode-bidi: isolate;
}

.profile-picture img{
    width: 150px;
    height: 200px;
  
}
.name{
    color: black;
    text-align: center;
    font-size: large;

}
.job-title{
    background-color: rgb(25, 189, 25);
    color: whitesmoke;
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 12px;
}

.description{
    text-align: left;
    line-height: 1.5;
}
div{
    display: block;
    unicode-bidi: isolate;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
    unicode-bidi: isolate;
    margin-top: auto;
}